.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    border-radius: 10px;
    padding: 44px 80px;
    width: 631px;
    height: 588px;
    background: #f7f7f7;
}

.featuresContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 527px;
    height: 104px;
}

.details{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 527px;
    height: 296px;
}

.detailTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin: 0;
}

.detailsList{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.listItem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 527px;
}
