.reviewsList{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 44px;
    padding: 0;
}

.userInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    width: 172px;
    height: 60px;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #f2f4f7;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #e44848;
}

.starName{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
    width: 96px;
    height: 44px;
    
}

.userName{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    margin: 0;
    padding: 0;
}

.starsList{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    padding: 0;
}

.userRev{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    text-align: start;
}

.revItem{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 631px;
    height: 148px;
}