.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
    background: #e44848;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn:hover,
.btn:focus {
    background: #d84343;
}