.navBlock{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 206px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin-bottom: 24px;
}

.underline{
    margin-bottom: 56px;
}

.navBlock a {
    position: relative;
}

.navBlock a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 85px;
    height: 3px;
    background: transparent;
    border-radius: 2px;
    transition: background 0.3s;
}

.navBlock a.activeLink::after {
    background: #e44848;

}

.bottomContainer {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    
}

@media (max-width: 1024px) {
    .navBlock {
        gap: 24px;
        font-size: 18px;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }

    .navBlock a::after {
        bottom: -16px;
        width: 60px;
    }

    .bottomContainer {
        gap: 24px;
        flex-wrap: wrap;
    }
}

/* Телефон (макс. 768px) */
@media (max-width: 768px) {
    .navBlock {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        font-size: 16px;
    }

    .navBlock a::after {
        position: relative;
        bottom: -4px;
        width: 100%;
        display: block;
    }

    .bottomContainer {
        flex-direction: column;
        gap: 16px;
    }
}