.photoList{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
}

.photoItem{
    border-radius: 10px;
    width: 292px;
    height: 312px;
}

@media (max-width: 1440px) {
    .photoItem {
        flex: 1 1 calc(50% - 16px);
        max-width: 100%;
        height: auto;
    }
}

/* Мобільні */
@media (max-width: 768px) {
    .photoItem {
        flex: 1 1 100%;
        max-width: 100%;
        height: auto;
    }
}