.listCatalog{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    margin-top: 120px;
}

.catalogItem{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 24px;
    max-width: 888px;
    min-height: 368px;
    background: #fff;
}

.loadMoreButton{
    border: 1px solid #dadde1;
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #101828;
}

.loadMoreButton:hover, .loadMoreButton:focus{
    border: 1px solid #d84343;
}

.loadMoreWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 24px;
}

@media (max-width: 1440px) {
    .listCatalog{
        max-width: 360px;
    }

    .catalogItem{
        max-width: 670px;
        height: auto;
    }
}