.filtersText{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin: 0;
    margin-bottom: 32px;

}

.container {
    width: auto;
}

@media (max-width: 768px) {
    .container{
        max-width: 300px;
        height: auto;
        box-sizing: border-box;
    }
}